@import "../../styles/responsive.scss";
// decreasing header fs for xl and lower devices

.bigChartBox {

    h1 {
        @include xxl {
            font-style: 24px;
        }
    }

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .chart {
        width: 100%;
        height: 300px;
    }
}