@import "../../styles/responsive.scss";

// decreasing header fs for xl and lower devices
// also for top deal in xl devicies remoinbg img and emails
// and in case of lg and small devices it would be shown again
.topBox {
    h1 {
        margin-bottom: 20px;

        @include xxl {
            font-style: 24px;
        }
    }

    .list {


        .listItem {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 30px;

            .user {
                display: flex;
                gap: 20px;
                padding: 10px;
                align-items: center;


                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;

                    @include xxl {
                        display: none;
                    }

                    @include xxl {
                        display: block;
                    }
                }



                .userTexts {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }

                .username {
                    font-size: 14px;
                    font-weight: 500px;
                }

                .email {
                    font-style: 12px;

                    @include xxl {
                        display: none;
                    }

                    @include xxl {
                        display: block;
                    }
                }
            }

            .amount {
                font-weight: 500px;
            }
        }
    }
}